<br>
<h2>Cards on Board</h2>
<br>
{{!-- <h4>App Card</h4>
<p>{{miroData.id}}</p>
<h4>Title</h4>
<p>{{miroData.data.title}}</p>
<h4>Description</h4>
<p>{{miroData.data.description}}</p>
<hr> --}}


<ul class="message-list" style="list-style: none;">
    {{#each miroData}}
    <h5 class="message-header">App Card</h5>
        <li><strong>ID:</strong> {{this.id}}</li>
        <li><strong>Title:</strong> {{this.data.title}}</li>
        <li><strong>Description:</strong> {{this.data.description}}</li>
    <hr>
    {{/each}}
</ul>